<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Joanna's Chat App</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<div class="container">
		<main id="app">	
			<header>
				<h2 class="text-center">ChatApp</h2>
				<div class="name-field">
					<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="Nickname (optional)">
				</div>
			</header>	
			
			<section class="messages">
				<ul id="messages" v-for="message in messages">
					<newmessage :msg="message"></newmessage>
				</ul>
			</section>
			
			<section class="form-container">
				<form>
					<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
					<input type="submit" @click.prevent="dispatchMessage">
				</form>
			</section>
		</main>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>